/*Formato a la pagina*/
body {
   background-color: #ffffff;
   cursor: default;
   width: 100%;
}

/*Formato a los titulos*/
.h1 {
   text-align: center;
}

/*Tmaño del contenedor*/
.container {
   width: 100%;
   max-width: 992px;
}

/*Formato de las cards*/
.card {
   width: 10px;
   margin: 20px;
   border-radius: 6px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
   cursor: default;
}

/*Movimiento de las cardas al posicionarte encima*/
.card:hover {
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
   transform: translateY(-3%);
}

/*Tmaño de las img de las cards*/
.card img {
   width: 100%;
   height: 210px;
}

/**/
.card .card-body {
   padding: 15px;
   text-align: center;
}

/*Titulos de las cards formato*/
.card .card-body h5 {
   font-weight: arial;
   margin-bottom: 15px;
}

/*Parrafos de las cards*/
.card .card-body p {
   line-height: 1.5;
   margin-bottom: 15px;
   text-overflow: ellipsis;
}

/*Links de las cards bordes*/
.card .card-body a {
   padding: 10px;
   color: #03A9F4;
   border: 1px solid #03A9F4;
   border-radius: 4px;
}

/*Links de las cards al posicionarte encima*/
.card .card-body a:hover {
   background-color: #03A9F4;
   color: #fff;
}

/*Titulos de las bibliografia*/
.bibliografia h1 {
   position: relative;
   left: 25%;
   margin-top: 20px;
}


.bibliografia .p {
   text-decoration: none;
   margin-top: 5px;
}


.bibliografia .p .text {
   position: relative;
   left: 25%;
}

